@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
body,html{
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
    margin: 0px;
}
header{
    background: url("img/hero-bg.jpg");
    height: 750px;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 0px;
}

#container{
margin-left: 20%;

}


#text{
    padding-top: 200px;
    border-bottom: 10px solid white;
    width: 350px;
    margin-bottom: 40px;
}

#text1{
    font-size: 35px;
    color: white;
    font-weight: 300;
    margin-bottom: 0px;
    letter-spacing: 3px;
    
}

#text2{
    margin-top: 0px;
    font-size: 55px;
    color:white;
    font-weight: 900;
    margin-bottom: 10px;
    font-family: 'Archivo Black', sans-serif;
}

header img{
    height: 60px;
    width: 60px;
}



#paint{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#paint p{
    color: white;
}

#our{
    padding-top: 80px;
    text-align: center;
    background-color: rgb(236, 235, 235);
    margin-bottom: 40px;
    /* padding-bottom: 70px; */
    
}

#service{
    padding-top: 50px;
    color: grey;
    font-size: 25px;
}

#help{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}

#routine{
font-size: 20px;
color: rgb(75, 74, 74);



}

#book{
    background-color: red;
    color: white;
    height: auto;
    padding: 15px 30px 15px 30px;
    border: none;
    margin-bottom: 70px;
    font-weight: 800;
}

#contact{
    display: flex;
    flex-direction: row;
    width: 60%;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

}

#contact label{
    width: 50%;
    overflow: hidden;
}

#plan{
    margin-top: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    line-height: 25px;
    font-size: 20px;
}
#need{
    margin-top: 40px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0px;
}

#call{
    color: red;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 50px;
}

#info{
    background-color: rgb(243, 242, 242);
    margin-bottom: 20px;
    height: auto;
}

#works{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
}

#works img{
    width: 50%;
    /* height: 100%; */
}

#best{
    width:50%;
    margin-top: 200px;
    padding-bottom: 30px;
}

#quality{
    font-size: 50px;
    font-weight: 600;
    color: blue;
    border-bottom: 12px solid red;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
#company{
    line-height: 30px;
    font-size: 25px;
    margin-bottom: 35px;
}

#now{
    padding: 15px 30px 15px 30px;
    border: none;
    color: white;
    background-color: red;
    font-weight: 800;
}

#offer{
    width: 100%;
    padding-bottom: 60px;
    
}
#provide{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 45px;
    font-weight: 600;
    
}

#give{
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    gap: 35px;

}

#give p{
font-style: italic;
line-height: 30px;
font-size: 23px;
}

#give #electrical, #give #painting, #give #repair{
font-style: unset;
font-weight: bold;
font-size: 30px;
}

#give img{
    background-color: red;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

#all{
    background-color: rgb(79, 79, 160);;
}

#us{
    display: flex;
    flex-direction: row;
    background-color: rgb(79, 79, 160);
    padding-top: 70px;
    padding-bottom: 70px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}

#about{
    margin-top: 50px;
    width: 45%;
    
    padding-left: 50px;
    
}

#one{
    color:white;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 500;
    
}

#two{
    margin-top: 5px;
    color: white;
    font-size: 65px;
}

#two strong{
    font-size: 75px;
    line-height: 70px;
    margin-bottom: 0px;
}

#pics{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 55%;
    gap: 20px 20px;
    
    
}
#pics img{
    width: 100%;
    height: 250px;
  
}

@media only screen and (max-width: 480px) and (min-width:0px) {
    body,html{
        max-width: 100%;
        width: 100%;
        overflow-x: hidden;
        /* margin: 0px; */
    }

    header{
        background: url("img/hero-bg.jpg");
        height: 400px;
        width:100%;
        background-size: 100% 400px;
        
    }

    #text{
        padding-top: 240px;
        border-bottom: 10px solid white;
        width: 250px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;

      
    }
    
    #text1{
        font-size: 25px;
        color: white;
        font-weight: lighter;
        margin-bottom: 0px;
      
        
    }
    
    #text2{
        margin-top: 0px;
        font-size: 40px;
        color:white;
        font-weight: 900;
        margin-bottom: 10px;
      
    }
    
    #container{
        margin-left: unset;
        
    }

    header img{
        height: 0px;
        width: 0px;
    }
    #paint{
        font-size: 0px;
    }

    #our{
        padding: 20px 35px 0px 35px;
        
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        /* padding-bottom: 70px; */
    }
    
    #service{
    padding-top: 35px;
    color: grey;
    font-size: 25px;
}
    #help{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px;
}

    #contact{
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    
    }
    #contact label{
        width: 100%;
        overflow: hidden;
    }
    #contact img{
        width: 100%;
    }
    #plan{
        margin-top: 15px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        line-height: 25px;
        font-size: 20px;
    }
    #need{
        margin-top: 50px;
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 0px;
/*         text-align: center; */
        width: 90%;
        white-space: nowrap;
    }
    
    #call{
        color: red;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 50px;
/*         text-align: center; */
        width: 90%;
        white-space: nowrap;
    }
    #works{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 40px;
    }
    
    #works img{
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

    }

    #quality{
        font-size: 40px;
        font-weight: 600;
        color: rgb(65, 65, 156);
        border-bottom: 12px solid red;
        padding-bottom: 23px;
        margin-bottom: 40px;
    }
    #company{
        line-height: ;
    }

    #best{
        width:100%;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    #give{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        gap: 35px;
    
    }
    #give img{
        background-color: red;
        border-radius: 100%;
        height: 80px;
        width: 80px;
    }
    #provide{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        margin-bottom: 40px;
        font-size: 40px;
        font-weight: 500;
        
    }
    #us{
        display: flex;
        flex-direction: column;
        background-color: rgb(79, 79, 160);
        padding-top: 70px;
        padding-bottom: 70px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        gap: 20px;
    }
    #pics{
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
        gap: 40px 60px;
        
    }
    #pics img{
        width: 100%;
        height: 300px;
      
    }
    #about{
        margin-top: 50px;
        width: 90%;
        padding-left: unset;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
    }
    #one{
        color:white;
        margin-bottom: 0px;
        font-size: 15px;
        font-weight: 500;
        
    }
    
    #two{
        margin-top: 5px;
        color: white;
        font-size: 55px;
    }
    
    #two strong{
        font-size: 65px;
        line-height: 70px;
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 800px) and (min-width:481px) {

    header{
        background: url("img/hero-bg.jpg");
        height: 500px;
        width:100%;
        background-size: 100% 500px;
        
    }

    #text{
        padding-top: 340px;
        border-bottom: 10px solid white;
        width: 280px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;

      
    }
    
    #text1{
        font-size: 25px;
        color: white;
        font-weight: lighter;
        margin-bottom: 0px;
      
        
    }
    
    #text2{
        margin-top: 0px;
        font-size: 45px;
        color:white;
        font-weight: 900;
        margin-bottom: 10px;
      
    }
    
    #container{
        margin-left: unset;
        
    }

    header img{
        height: 0px;
        width: 0px;
    }
    #paint{
        font-size: 0px;
    }
   
    #our{
        padding: 80px 35px 0px 35px;
        
        margin-bottom: 40px;
        /* padding-bottom: 70px; */
    }

    #contact{
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    
    }
    #contact label{
        width: 100%;
        overflow: hidden;
    }
    #contact img{
        width: 100%;
    }
    #plan{
        margin-top: 30px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        line-height: 25px;
        font-size: 20px;
    }
    #need{
        margin-top: 50px;
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 0px;
/*         text-align: center; */
        width: 90%;
        white-space: nowrap;
        
    }
    
    #call{
        color: red;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 50px;
/*         text-align: center; */
        width: 90%;
         white-space: nowrap;
    }
    #works{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 40px;
    }
    
    #works img{
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

    }

    #quality{
        font-size: 50px;
        font-weight: 600;
        color: blue;
        border-bottom: 12px solid red;
        padding-bottom: 23px;
        margin-bottom: 40px;
        width: 90%;
        white-space: nowrap;
    }

    
    #company{
        line-height: ;
    }

    #best{
        width:100%;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    #give{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        gap: 35px;
    
    }
    #give img{
        background-color: red;
        border-radius: 100%;
        height: 80px;
        width: 80px;
    }
    #provide{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        margin-bottom: 40px;
        font-size: 50px;
        font-weight: 600;
        
    }
    #us{
        display: flex;
        flex-direction: column;
        background-color: rgb(79, 79, 160);
        padding-top: 70px;
        padding-bottom: 70px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        gap: 20px;
    }
    #pics{
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
        gap: 40px 60px;
        
    }
    #pics img{
        width: 100%;
        height: 350px;
      
    }
    #about{
        margin-top: 50px;
        width: 100%;
        padding-left: 20px;
        margin-bottom: 0px;
    }
    #two{
        margin-top: 5px;
        color: white;
        font-size: 55px;
    }
    
    #two strong{
        font-size: 65px;
        line-height: 70px;
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 1061px) and (min-width: 801px) {
    header{
        background: url("img/hero-bg.jpg");
        height: 750px;
        width: 100%;
        background-size: 100% 750px;
        overflow: hidden;
        margin-bottom: 0px;
    }
    #text{

        width: 310px;
    }
       
    #text1{
        font-size: 30px;
        color: white;
        font-weight: lighter;
        margin-bottom: 0px;
    }
    
    #text2{
        margin-top: 0px;
        font-size: 55px;
        color:white;
        font-weight: 900;
        margin-bottom: 10px;
    }

    #container{
        margin-left: 10%;
        
        }
        
     #contact{
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    
    }
    #contact label{
        width: 100%;
        overflow: hidden;
    }

    #contact img{
        width: 100%;
    }
    
    #plan{
        margin-top: 30px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        line-height: 25px;
        font-size: 20px;
    }
    #need{
        margin-top: 50px;
        font-size: 35px;
        font-weight: 800;
        margin-bottom: 0px;
        text-align: center;
        width: 90%;
    }
    
    #call{
        color: red;
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 50px;
        text-align: center;
        width: 90%;
    }

    #quality{
        font-size: 50px;
        font-weight: 600;
        color: blue;
        border-bottom: 12px solid red;
        padding-bottom: 25px;
        margin-bottom: 25px;
    }

    

    #us{
        display: flex;
        flex-direction: column;
        background-color: rgb(79, 79, 160);
        padding-top: 70px;
        padding-bottom: 70px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        gap: 20px;
    }

    #pics{
        display: grid;
        grid-template-columns: 45% 45%;
        width: 90%;
        gap: 20px 20px;
        justify-content: center;
        align-content: center;
        
    }
    #provide{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        margin-bottom: 40px;
        font-size: 45px;
        font-weight: 600;
        
    }
    
    #give{
        display: flex;
        flex-direction: row;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        gap: 40px;
    
    }

    #about{
        margin-top: 50px;
        width: unset;
        padding-left: unset;
        margin-left: auto;
        margin-right: auto;
        
    }
    #pics img{
        width: 100%;
        height: 300px;
      
    }
    #about br{
        content: " ";
    }

}
